<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 style="text-align:center">add new products here...! </h2>
<div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4"></h6>
                            <form method="post" action="{% url 'categorysave' %}" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="mb-3">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" NAME="cname">

                                <option selected=""> select category </option>
                                <option >laptop</option>
                                <option >mobile</option>
                                <option >television</option>
                            </select>



                                </div>
                                description
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 150px;" name="cdescription"> </textarea><br><br>

                            <div class="mb-3"><div>
                                    <label for="exampleInputEmail1" class="form-label">enter price</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="cprice"><br><br>
                                    </div>
                                <div>category image
                                    <input type="file" name="cimage">
                                </div><br><br>

                                <button type="submit" class="btn btn-primary"> submitt</button>
 </body>
</html>
{% endblock %}