<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="">
    <div class="bg-secondary rounded h-100 p-4">
            <div class="mb-3">
                <h2>edit products..</h2>
                <select class="form-select form-select-lg mb-3" NAME="cname" >
                    <option>{{product.catname}}</option>
                    </select>
                            </div>
                            <label for="exampleInputEmail1" class="form-label">Enter Product Name</label>
                                    <input type="text" class="form-control"   name="pname" value="{{product.productname}}"><br><br>
                                <label for="exampleInputEmail1" class="form-label">Enter Description</label>
                                <textarea class="form-control" placeholder="Product Description" id="floatingTextarea" style="height: 150px;" name="pdescription">{{product.description}} </textarea><br><br>

                            <div class="mb-3"><div>
                                    <label for="exampleInputEmail1" class="form-label">enter price</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="pprice" value="{{product.price}}"><br><br>

                                    </div>
                                <div>product image
                                    <img src="{{product.productimage.url}}">
                                    <input type="file" name="pimage">
                                </div><br><br>

                                <button type="submit" class="btn btn-primary"> submitt</button>
                            </div>
    </div>

</form>
</body>
</html>
{% endblock %}